mixin practice(data = {}, theme)
  -
    let blockClassName = 'practice-list';
    if (theme) {
      blockClassName += ` ${blockClassName}_theme_${theme}`
    }
  ul(class=`${blockClassName}`)
    for item in data
      -
        const {
          title,
          date,
          subtitle,
          description,
        } = item;
      li.practice-list__item
        .practice-list__subtitle-wrap
          p.practice-list__subtitle= title
          p.practice-list__date= date
        p.practice-list__job= subtitle
        p.practice-list__text= description