mixin practice(data = {})
  -
    const {
      title = '',
      date = '',
      job = '',
      description = '',
      theme = 'black',
    } = data;
    let itemClassName = "practice";
    if (theme)
      itemClassName += ` ${itemClassName}_theme_${theme}`
  div(class= itemClassName)
    ul
      for item in data
        li
          .practice__subtitle-wrap
            p.practice__subtitle= item.title
            p.practice__date= item.date
          p.practice__job= item.subtitle
          p.practice__text= item.description