mixin practice(data = {}, theme)
  -
    let blockClassName = 'practice';
    if (theme) {
      blockClassName += ` ${blockClassName}_theme_${theme}`
    }
  div(class= blockClassName)
    ul.practice__list
      for item in data
        li.practice__list-item
          .practice__subtitle-wrap
            p.practice__subtitle= item.title
            p.practice__date= item.date
          p.practice__job= item.subtitle
          p.practice__text= item.description